<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{{ name }} - タイセンジャー</title>
        <link rel="shortcut icon" href="/static/img/favicon.png" />
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/roundrobin.css">
        <script src="/static/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <table id="tbl_mainframe">
            <tr>
                <td class="td_mainframe">
                    <table>
                        <tr>
                            <th>大会名</th>
                            <td>{{ name }}</td>
                        </tr>
                        {% if detail != "" %}
                        <tr>
                            <th>詳細</th>
                            <td>{{ detail }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
            <tr>
                <td class="td_mainframe">
                    <table id="tbl_rr">
                        <tr>
                            <th></th>
                            {% for p in players %}
                                <th class="tate"><span>{{ p }}</span></th>
                            {% endfor %}
                        </tr>
                        {% for p in players %}
                        <tr>
                            <th class="yoko">{{ p }}</th>
                            {% for p_tate in players %}
                                {% if p==p_tate %}
                                <td>-</td>
                                {% else %}
                                <td>●<br />1-2</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        
                    </table>
                </td>
            </tr>
            <tr>
                <td class="td_mainframe">
                    <h3>次の試合</h3>
                    <table id="tbl_next">
                        <tr>
                            <th>
                                対戦
                            </th>
                            <th>
                                会場
                            </th>
                        </tr>
                        <tr>
                            <td>
                                お父さん vs お母さん
                            </td>
                            <td class="center">
                                1
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
